@import url(./common.css);

/* container */
.container {
  width: 320px;
  height: 100px;
  margin: 280px auto 0;
  display: flex;
}
.form-item .title {
  font-size: 38px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--text-primary);
}
.form-item .slogan {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.3;
  color: var(--text-primary);
}
