@import url(./reset.css);
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: antiquewhite;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.container .left {
    color: red;
    font-size: 12px;
    float: left;
    /* width: 100px; */
    height: 30px;
    margin-left: 20px;
}
.container .right {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    overflow: hidden;
    padding-left: 20px;
    border-left: 1px solid red;
}